:root {
  --bs-body-font-family: "Roboto", sans-serif !important;
  --bs-primary: #ec1d24 !important;
  --bs-primary-rgb: 236, 29, 36 !important;
  --bs-secondary: #9f0013 !important;
  --bs-secondary-rgb: 159, 0, 19 !important;
  --bs-gray-100: #cccccc !important;
  --bs-gray-200: #767676 !important;
  --bs-secondary-color: #767676 !important;
  --bs-gray-300: #202020 !important;
  --bs-gray-400: #151515 !important;
  --bs-body-line-height: 1.172rem !important;
  --bs-body-color: #000000 !important;
}

*,
*::before,
*::after {
  margin: 0;
}
