@import "./base.css";

.fs-7 {
  font-size: 0.875rem !important;
}

.fs-xl {
  font-size: 3rem !important;
}

body::-webkit-scrollbar {
  display: none;
}

.form-control:focus,
.form-select:focus {
  border-color: var(--bs-primary) !important;
  box-shadow: 0 0 0 0.2rem rgb(236, 29, 36, 0.25) !important;
}
